body { /* This is general style, for every element */
    box-sizing: border-box;
    font-family: 'Work Sans';
    /* Useful to use the border of elements as the total size of the element */
    max-width: 960px;
    margin: 0 auto;
}
a{ /* For every link */
    text-decoration: none;
}
a:link {
    color: white;
}
  /* visited link */
a:visited {
    color: white;
}
a.products-page-link:link,a.products-page-link:visited{
    color:black;
    text-align: center;
    margin: 0px;
}
a.black:link,a.black:visited{
    color:black;
    text-align: center;

}
.logo{
    height: 50px;
    width: 100px;
    float:left;

}
.logo:hover{
    border-bottom: black 2px solid;
}
header{
    position: sticky;
    top: 0px;
    height: 50px;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    z-index: 10;
    background-color: white;
}
nav{
/*     padding:auto; */
}
nav a:link,nav a:visited{
    color: #CF2C30;
}
.navbar-buttons{
    height: 50px;
    /* width: 150px; */
    display: inline-block;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;

}
.navbar-buttons:hover{
    border-bottom: #CF2C30 2px solid;
}

.img-container{
    width: 100%;
   /*  padding: 0%; */
}
.img-style{
    width: 100%;
    transition: 0.5s;
/*     margin: 6px; */
}
.img-container-main{
    position: relative;
    text-align: center;
    color:white;
 /*    padding: 6px; */
    font-size: 26px;
}
.img-container-category-three{
    position: relative;
    text-align: center;

    box-sizing: content-box;
/*     padding: 6px; */
    font-size: 16px;
    width: 32.5%;
    font-weight: bolder;
    float: left;
    padding: 1.25% 0 0 0;
}
.img-style:hover{
    filter: blur(2px);
    filter: brightness(80%);
}
.img-container-category-two{
    position: relative;
    text-align: center;
    box-sizing: content-box;
/*     padding: 6px; */
    font-size: 16px;
    width: 49.375%;
    font-weight: bolder;
    float: left;
    padding: 1.25% 0 1.25% 0;
}
.centered-text{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.centered-text-content-three{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 2;
    color:white;
}
.centered-text-content-two{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 2;
    color:white;
}
.highlight{
    color: black;
    background-color: white;
    font-weight: bolder;
}
.img-container-category-three + .img-container-category-three{
    padding-left: 1.25%;
}
.img-container-category-two + .img-container-category-two{
    padding-left: 1.25%;
}
.newsletter{
    text-align: center;
    padding-bottom: 1.25%;
}
.newsletter-icon{
    height: 30px;
    width: 30px;
}
.p-newsletter{
    font-weight: bolder;
    font-size: 14px;
}
.newsletter-button{
    background-color: CF2C30;
    color: white;
    height: 30px;
    width: 40%;
    margin: auto;
}
.newsletter-button>a{
    line-height: 1.8;
    padding: 0 100px 0 100px;
    /* To make bigger the link */
}
footer{
    background-color: #CF2C30;
    color: white;
    font-size: 11px;
    height: 240px;
    width: 100%;
    padding: 10px;
    line-height: 2.2;
    text-align: left;
    box-sizing: border-box;
}

.lists-style{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.icon-footer-invert{
    filter: invert();
    height: 18px;
    width: 18px;
    vertical-align: middle;
}
.icon-footer{
    height: 18px;
    width: 18px;
    vertical-align: middle;
}
.icon-filter{
    height: 12px;
    width: 12px;
    vertical-align: middle;
}
.container-footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
h1,h4{
    font-weight:bolder;
}
.title{
    text-align: center;
}
.filter-bar{
    display: grid;
    grid-template-columns: 160px 120px 120px 120px auto 140px;
    list-style-type: none;
    grid-gap:20px;
    padding: 0;
    justify-items: center;
    align-items: center;
    margin:0;
}
.product-row{
    display: flex;
    flex-flow: row;
    width: 100%;
}
.product-container-25perc{
    width: 25%;
    margin:0;
    /* text-align: center; */
}
.product-container-50perc{
    width: 50%;
    margin:0;
    /* text-align: center; */
}

.products-page-link>p{
    text-align: center;
    line-height: 1.5;
    margin: 4px 0;
}
.product-row>.product-container-25perc:not(:last-child),.product-row>.product-container-50perc:not(:last-child){
    padding-right: 12px;
}

